syntax: glob
m4/*.m4
aclocal.m4
autom4te.cache
config.cache
config.guess
imaptest-config.h
imaptest-config.h.in
compile
config.log
config.status
config.sub
config.rpath
configure
configure.scan
libtool
libtool-shared
ltconfig
ltmain.sh
run-test.sh
stamp-h*
/version
stamp.h
version.h
.exrc
depcomp
install-sh
missing
mkinstalldirs
ABOUT-NLS
INSTALL
build-stamp
configure-stamp
ChangeLog
Makefile
Makefile.in

*.o
*.lo
*.Po
*.Plo
*.a
*.la
*.lai
*.so
*.orig
*.rej
.deps
.libs
*~
**/Makefile
**/Makefile.in

src/imaptest
src/rawlog.*

docs/.vitepress/cache
docs/.vitepress/dist
node_modules/

__pycache__/
*.pyc
